    .container{  display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        width: 100%;
        

    }



    .logo{
        display: flex;
        align-items:center ;
        gap: 8px;
        
    }
    .logo span {
        font-size: 18px;
        font-weight: bold;
        color: #ff007c;
    }

    .head .btn {
        padding:  6px 15px;
        border-radius:20px ;
        font-size: 14px;
        text-decoration: none;
        cursor: pointer;
        
    }


    .head{
        display: flex;
        align-items: center;
        gap: 15px;
    }




    .head .Button {
        border: 1px solid #ddd;
        background-color: transparent;
        color: #333;
    }


    .head .Button1 {
        background-color: pink;
    border:none;
    color:white;

    }


    .food{
        align-self:flex-start;
    }

    .idk{
        flex-direction: row;
        flex-wrap: wrap;
        flex: content;

    }

    .container1 {

        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(236, 228, 228) ;
        
        border-bottom: 1px solid #ddd;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        

    }
    .image{
        width: 800px;
        height: 600px;
        margin-left: 20%;
        justify-content: left;
    }

    .text-container{
        text-align: right;
        padding:  6px 15px;
        border-radius:20px ;
        font-size: 14px;
        text-decoration: none;
        cursor: pointer;
        /* margin: 150px; */

        



    }

    .input-group{
        flex-wrap: wrap;
        display: flex;
    color: black;
        padding: 10px;  
        margin: 10px;
        box-shadow: 2px 1px 10px black;
        border: #333;
        border-radius: 5px;
        background-color: #ffffff;

    }

/* .input-container{
    
        flex-wrap: wrap;
        display: flex;
        color: black;
        padding: 10px;
        margin: 10px;
        box-shadow: 2px 1px 10px black;
        border: #333;
        border-radius: 5px;
        background-color: #ffffff;
    } */


    .find-btn{
    background-color: #990a4f;
    color: #ddd;
    border-radius: 5px;


    }

    .search-bar{
        background-origin: padding-box;
    background-color: beige;
    display: flex;
    width: 200px;


    color: pink;
    }

    .cookfood {
        width: 100%;
        height: 600px ;
position: static;}


    .text{border: #ddd;
        position: relative;
        text-align: justify;display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        width: 50%;
        
        
    }


    .place{
        height: 20px;
        width: 800px;
    }

    .btn{
        height: 20px;
        width: 90px;
    }
    .pic{
        padding-top: 40px;
        position: relative;
    
    }

    .Text{
 
        height: 250px;
        background-color: #ffffff;
        width: 500px;
        border-radius: 5px;
        margin-left: 50px;
       margin-top: -200px;
       position: absolute;
       
    }
/* .TEXT{
    margin-bottom: 10px;
    text-wrap: 20px;
} */


.city{
 margin-top: 50px;
    height: 10px;
    width: 100%;
    /* display: flex;
display: flex;     */
}
.name{
    width: 20%;
    height: 170px;
}
    
.find{
    margin-top   :300px;
}
.ppp{
    margin-top: 600px

}
.Take{
    position: relative;
    width: 50%;
    height: 50px;

}
.partners{
    position: absolute;
    width: 250px;
    height: 200px;
    border-radius: 10px;
margin-left: 140px;
background-color: rgb(185, 167, 167);
}
.button{
    background-color: #ff007c;
    border-radius: 5px;
}
.url{
    padding-top: 250px;
}
